<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button> 
    </ion-buttons>
    <ion-title>dispositivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="highcharts" style="width:100%; height:300px;"></div>
  
  <ion-button color="primary" expand="block" routerLink="/dispositivo/{{idElectrovalvula}}/logs" routerDirection="forward"> Ver Logs</ion-button> 
  <ion-button color="primary" expand="block" routerLink="/dispositivo/{{idDispositivo}}/mediciones" routerDirection="forward">Mediciones</ion-button> 
  <div *ngIf="showOpenButton;then content else other_content">here is ignored</div>
  <ng-template #content><ion-button color="primary" expand="block" (click)="openElectrovalvula($event)"> Abrir Valvula</ion-button>  </ng-template>
  <ng-template #other_content><ion-button color="primary"  expand="block" (click)="closeElectrovalvula($event)"> Cerrar Valvula</ion-button>  </ng-template>
</ion-content>
