<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button> 
    </ion-buttons>
    <ion-title>dispositivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="highcharts" [hidden]="!existenMediciones" style="width:100%; height:300px;"></div>
  <div  [hidden]="existenMediciones">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Estado electrovalvula</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        No existen mediciones registradas, necesitan obtenerse mediciones para mostrar estado
      </ion-card-content>
    </ion-card></div>
  
  <ion-button color="primary" expand="block" routerLink="/dispositivo/{{idElectrovalvula}}/logs" routerDirection="forward"> Ver Logs</ion-button> 
  <ion-button color="primary" expand="block" routerLink="/dispositivo/{{idDispositivo}}/mediciones" routerDirection="forward">Mediciones</ion-button> 
  <ion-button color="primary" expand="block" (click)="callGenerarMedicion()">Generar medicion</ion-button> 
  <div *ngIf="showOpenButton;then content else other_content">here is ignored</div>
  <ng-template #content><ion-button [disabled] = "!requiereRiego" color="primary" expand="block" (click)="handleButtonOpenClick()"> Abrir Valvula</ion-button>  </ng-template>
  <ng-template #other_content><ion-button color="primary"  expand="block" (click)="handleButtonCloseClick()"> Cerrar Valvula</ion-button>  </ng-template>
</ion-content>
